[submodule "browser-extension"]
	path = browser-extension
	url = https://github.com/tal-dagan-cloudi/mindlaw-extension.git
[submodule "embed"]
	path = embed
	url = https://github.com/tal-dagan-cloudi/mindlaw-embed.git
	branch = main
